@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	color: var(--fg);
}

.intro {
	font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Fira Mono', monospace;
	font-weight: 400;
	letter-spacing: -1px;
}

button {
	all: unset;
}

a,
p,
label,
li,
input,
button {
	font-family: 'Fira Sans', sans-serif;
	text-align: justify;
}

a {
	color: var(--purple);
}

a:hover {
	text-decoration: underline;
}

button:hover {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.go,
.rust,
.cpp,
.java,
.node {
	color: var(--black7);
	border: solid 1px;
	border-radius: 0.4em;
	padding: 0.1em 0.2em;
	margin: 0.2em;
	font-size: 0.9em;
	font-family: 'Fira Mono', monospace;
}

.go {
	border-color: var(--cyan);
	color: var(--cyan);
	background-color: var(--transparent-cyan);
}

.rust {
	border-color: var(--red);
	color: var(--red);
	background-color: var(--transparent-red);
}

.node {
	border-color: var(--blue);
	color: var(--blue);
	background-color: var(--transparent-blue);
}

.java {
	border-color: var(--yellow);
	color: var(--yellow);
	background-color: var(--transparent-yellow);
}

.cpp {
	border-color: var(--green);
	color: var(--green);
	background-color: var(--transparent-green);
}
